html, body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    min-width: 700px;
    background-color: #202225;
}

.primary-container {
    width: 100%;
    height: 100%;
    display: grid;
    align-items: center;
    justify-items: center;
}

.secondary-container {
    width: 100%;
    max-width: 1900px;
}

.download-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
}

.info-container {
    padding: 10px;
    border-radius: 15px;
    color: white;
}

.usage {
    display: grid;
    align-items: center;
    justify-content: space-around;
    gap: 10px;
    padding: 30px;
}

.disclamer {
    padding: 30px;
}

.clearBtn {
    border-color: transparent;
    position: absolute;
    z-index: 1;
    background-color: transparent;
    margin-left: -193px;
    margin-top: 10px;
    font-weight: bold;
    font-size: 16px;
    color:#70757e;
    cursor: pointer;
}

input {
    position: relative;
    display: inline-block;
    font-size: 20px;
    box-sizing: border-box;
    transition: 0.3s ease;
}

input[type="text"] {
    background: #40444B;
    color: white;
    width: 600px;
    height: 50px;
    border: none transparent;
    outline: none;
    padding: 0 35px 0px 19px;
    border-radius: 25px 0 0 25px;
}

input[type="text"].active {
    border: 1px solid red;
}

input[type="submit"] {
    position: relative;
    border-radius: 0 25px 25px 0;
    left: -5px;
    width: 150px;
    height: 50px;
    border: none;
    outline: none;
    padding: 0 25px;
    background: #FF0000;
    color: white;
    cursor: pointer;
}

input[type="submit"].disabled {
    background: #be0000;
    cursor: not-allowed;
}

input[type="submit"]:hover {
    background-color: #be0000;
}

#error {
    padding-left: 10px;
    color: #FF0000;
}

.search-form {
    transition: 0.3s ease;
}

ol li{
    padding: 5px;
}

.thumbnail {
    border-radius: 10px;
    max-width: 300px;
}

.video {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 18px;
    width: 100%;
    max-width: 760px;
}

.video-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    gap: 20px;
}

.video-metadata {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 9px;
}

.video.disabled {
    position: absolute;
    display: none;
    visibility: hidden;
}

.tabs {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
}

.tab-btn {
    flex: 1;
    background: transparent;
    border: none;
    color: white;
    padding: 10px;
    cursor: pointer;
    transition: 0.3s ease;
}

.tab-btn.selected {
    transition: none;
    border-bottom: solid 3px white;
}

.tab-btn:hover {
    background-color:#35383d;
}

.download-btn {
    border: none;
    width: 100%;
    background-color: #FF0000;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    transition: ease 0.3s;
}

.download-btn:hover {
    background-color: #be0000;
}

/* Tables */
table {
    margin-top: 10px;
    color: white;
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

table.disabled {
    position: absolute;
    visibility: hidden;
}

td, th {
    border: 1px solid #dddddd;
    text-align: center;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #373636;
}

/* Scrollbar */
* {
    scrollbar-width: none;
    scrollbar-color: #313030 #202123;
}

*::-webkit-scrollbar {
    width: 10px;
}

*::-webkit-scrollbar-track {
    background: #202123;
}

*::-webkit-scrollbar-thumb {
    background-color: #313030;
    border-radius: 12px;
}

/* Loader */
.lds-facebook {
    display: inline-block;
    top: 170px;
    position: absolute;
    width: 80px;
    height: 80px;
}

.lds-facebook.disabled {
    visibility: hidden;
}

.lds-facebook div {
    display: inline-block;
    position: absolute;
    left: 8px;
    width: 16px;
    background: #40444B;
    animation: lds-facebook 1.2s cubic-bezier(0, 0.5, 0.5, 1) infinite;
}

.lds-facebook div:nth-child(1) {
    left: 8px;
    animation-delay: -0.24s;
}

.lds-facebook div:nth-child(2) {
    left: 32px;
    animation-delay: -0.12s;
}

.lds-facebook div:nth-child(3) {
    left: 56px;
    animation-delay: 0;
}

@keyframes lds-facebook {
    0% {
        top: 8px;
        height: 64px;
    }
    50%, 100% {
        top: 24px;
        height: 32px;
    }
}